ion-input {
    --color: #ffffff;
    --placeholder-color: #3880ff;
    --placeholder-font-style: initial;
    --placeholder-opacity: 0.5;
}
.font{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.clave{
    background-color: black;
}