.clave{
    --color: magenta;
    --placeholder-color: #3880ff;
    --placeholder-font-style: initial;
    --placeholder-opacity: 0.5;
    background-color: black;
}
.font{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}