<ion-header >
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Volver" color="primary" mode="ios">


      </ion-back-button>
    </ion-buttons>
    
    <ion-title >
      Iniciar Sesión 
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <ion-item color="dark">
    <ion-label class="font" position="floating">Email</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item color="black">
    <ion-label  class="font" position="floating">Password</ion-label>
    <ion-input  name="password" type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  
  <ion-item-divider color="dark" >
    <ion-button color="primary"   expand="block" slot="start" shape="round"  (click)="onLogin()" >
      Inicia Sesión
    </ion-button>
    
   
  </ion-item-divider>
  <ion-item-divider color="dark">
  <ion-button color="primary" size="small"  expand="full" slot="start" shape="round" routerLink="/registro">
    Registrarse
  </ion-button>
</ion-item-divider>
</ion-content>

